header {
  // Position

  // block-model
  min-height: 10vh;
  width: 100%;
  padding-top: 2vw;
  padding-bottom: 2vw;
  // Typography

  // Decoration
  border-bottom: 0.5vh solid $color-underline;
  // Animation

  // Various
  
}

.header-container {
  // Position

  // block-model
  height: inherit;
  align-items: center;
  align-content: center;
  row-gap: 2vw;
  // Typography

  // Decoration

  // Animation

  // Various
  
}

.main-title__container {
  // Position

  // block-model
  column-gap: 1vw;
  align-items: center;
  // Typography

  // Decoration

  // Animation

  // Various
  
}