<!-- header start -->
<header class="_background-color-dark">
  <div class="container layout-multiple-columns header-container">
    <div class="layout-multiple-columns main-title__container">
      <i class="fa-solid fa-camera text_interactive text_fsize-h1"></i>
      <h1 class="title-h1">Image-gallery</h1>
    </div>
    <div class="layout-multiple-columns search__container">
      <input class="button search__button" type="search" name="search" id="searchButton" placeholder="enter something..." autofocus="true" autocomplete="false">
      <i class="fa-solid fa-magnifying-glass magnifying-glass magnifying-glass_position"></i>
    </div>
  </div>
</header>
<!-- header end -->
