<!-- footer start -->
<footer class="container layout-one-column footer__container">
  <ul class="layout-multiple-columns footer__list">
    <li class="footer__item">&copy; 2023 Dmitriy Frostoff</li>
    <li class="footer__item">
        <a class="layout-one-column footer__link" href="https://github.com/Dmitriy-Frostoff" title="click to visit Dmitriy-Frostoff's GitHub" target="_blank">
          <object data="./src/assets/svg/footer/github%20logo.svg" type="image/svg+xml"></object>
          <span class="github-text">GitHub</span>
        </a>
    </li>
    <li class="footer__item">
      <a class="footer__link rsschool-logo" href="https://rs.school/js/" title="click to go to the RS School Course" target="_blank">
        <object data="./src/assets/svg/footer/rs_school_js.svg" type="image/svg+xml"></object>
      </a>
    </li>
  </ul>
</footer>
<!-- footer end -->