$nav-text-fsize: 20px;

$title-h1_desktop: 30px;
$title-h2_desktop: 40px;
$title-h3_desktop: 40px;
$title-h4_desktop: 30px;
$title-h5_desktop: 20px;

$text-fsize-XL: 40px;
$text-fsize-L: 20px;
$text-fsize-M: 15px;
$text-fsize-S: 10px;