.main {
  // Position
  
  // block-model
  
  // Typography
  
  // Decoration

  // Animation
  
  // Various
  
}

.main__container {
  // Position

  // block-model
  height: 90vh;
  align-items: center;
  justify-content: center;
  // Typography

  // Decoration

  // Animation

  // Various
  
}