@font-face {
  font-family: "ImperialScript";
  src: local("ImperialScript"),
  url("../../assets/fonts/ImperialScript-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

$title-h1_desktop: 30px;

$text-fsize-XL: 20px;
$text-fsize-L: 18px;
$text-fsize-M: 16px;
$text-fsize-S: 14px;
$text-fsize-XS: 12px;