// colors
$color-background-dark: #0C0C0E;
$background-radient: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.10) 100%);

$color-interactive: #BB945F;

$color-dark: #000000;
$color-light: #FFFFFF;

$color-modal: #8E8E8E;

// user width
$width-desktop: 1440px;
$width-tablet: 768px;

// content width
$content-width-desktop: 1400px;
$content-width-tablet: 728px;

// media padding
$padding-content-desktop: 20px;
$padding-content-tablet: 20px;
