%font-Inter {
  font-family: 'Inter';
}

%font-Forum {
  font-family: 'Forum';
}

%transition-basic {
  transition: all 0.7s ease 0s;
}

%pointer-events-disable {
  pointer-events: none;
}

%reset-padding-margin {
  padding: 0;
  margin: 0;
}

%cursor-pointer {
  cursor: pointer;
}