// colors
$color-background-dark:rgba(0, 0, 0, 0.85);
$color-background-dark-transparent:rgba(0, 0, 0, 0.16);
$color-background-dark-details: rgba(150, 150, 150, 0.12);

$color-interactive:#FFCD04;
$color-underline: rgb(255, 166, 0);

$color-dark: #000000;
$color-light: #F0F0F0;

$color-light-details: #E5E5E5;
$color-dark-details: #BCBCBC;

// user width
$width-desktop: 1440px;
$width-tablet-large: 1024px;
$width-tablet: 768px;
$width-tablet-small: 640px;
$width-mobile: 540px;

// content width
$content-width-desktop: 1400px;
$content-width-tablet: 728px;
$content-width-mobile: 520px;

// media padding
$padding-content-desktop: 20px;
$padding-content-tablet: 20px;
$padding-content-mobile: 10px;
