<div class="container grid-auto-fill image-galery-content__container">
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
  <div class="image-wrapper">
    <div class="image-content">&nbsp;</div>
  </div>
</div>