.favorites {
  // Position

  // block-model
  width: 100%;
  padding: 20px 0 40px;
  // Typography

  // Decoration
  background-color: $color-light;
  // Animation

  // Various
}

.favorites__container {
  // Position

  // block-model
  align-items: center;
  row-gap: 40px;
  // Typography

  // Decoration

  // Animation

  // Various
}

.favorites__content-container {
  // Position

  // block-model
  column-gap: 220px;
  row-gap: 40px;
  // Typography

  // Decoration

  // Animation

  // Various
}